@font-face {
  font-family: 'JosefinSans';
  src: url('JosefinSans.woff') format('woff'),
       url('JosefinSans.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('JosefinSans-Bold.woff') format('woff'),
       url('JosefinSans-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center; 
    background-size: cover;
}

.pompidou   { background-image: url(../img/pompidou.jpg);            }
.cathedrale { background-image: url(../img/cathedrale.jpg);          }
.moselle    { background-image: url(../img/moselle.jpg);             }
.porte      { background-image: url(../img/porte-des-allemands.jpg); }
.plandeau   { background-image: url(../img/plan-d-eau.jpg);          }
.temple     { background-image: url(../img/temple.jpg);              }

.container {
    position: absolute;
    padding: 10%;
    width: 100%;
}

.content {
    font-family: 'JosefinSans', sans-serif;
    padding: 16px;
    background: white;
    background: rgba(255,255,255,.9);
    overflow: hidden;
    margin: auto;
    max-width: 300px;
    border-radius: 20px;
}

.content p {
    margin: 0;
    font-size: 16px;
    text-align: justify;
}

.l   { margin-left:  25%; }
.ll  { margin-left:  10%; }
.lll { margin-left:   0%; }
.rrr { margin-right:  0%; }
.rr  { margin-right: 10%; }
.r   { margin-right: 25%; }

html, body, .container { height: 100%; }
.spacer {
    height: 50%;
}
