doctype html5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Ballade à Metz
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/ballade-a-metz.css', rel='stylesheet')
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

    body
        .background.pompidou(data-audio="audio/blida.mp3", data-image='img/4913713833_8367526e19_o.jpg')
        .background.centre(data-audio="audio/cime.mp3", data-image='img/7813390642_cbba120350_o.jpg')
        .background.opera(data-audio="audio/mcour.mp3", data-image='img/7803511582_1c47f1c611_o.jpg')
        .background.temple(data-audio="audio/oldhopital.mp3", data-image='img/6958401123_e6799bb220_o.jpg')
        .background.cathedrale(data-audio="audio/Orgue Cathédrale.mp3", data-image='img/12767852085_121a4e22f3_o.jpg')
        .background.plandeau(data-audio="audio/pole.mp3", data-image='img/7357263054_20984c28d1_o.jpg')
        .background.poste(data-audio="audio/pref.mp3", data-image='img/7803448008_bca53e9760_o.jpg')
        .background.mairie(data-audio="audio/saulcy.mp3", data-image='img/8384939402_d9902acbb7_o.jpg')

        .container
            .content.keep
                img.img-responsive(src='img/logo.png', alt='Ballade à Metz')

            .spacer.keep.remove
            .content.keep.remove
                p.text-center Chargement en cours...
                .progress
                    #progress.progress-bar.progress-bar-info(role="progressbar" aria-valuemin="0" aria-valuemax="100")

            .spacer
            .content
                .text-center
                    p C'est par ici !
                    h1
                        span.glyphicon.glyphicon-arrow-down

            .spacer
            .content
                p Ballade à Metz a pour but d'ajouter une dimension musicale à Metz...

            .spacer
            .content
                p ...comme si l'on écoutait la ville.

            .spacer
            .content
                p Ballade à Metz est une application mobile qui utilise la géolocalisation pour jouer la musique d'un endroit.

            .spacer
            .content
                p Chaque lieu important est associé à un thème...

            .spacer
            .content
                p ...que l'on entend d'autant plus fort que l'on se rapproche.

            .spacer
            .content
                p À ces thèmes s'ajoutent des petites mélodies qui sont jouées lorsque l'on passe à proximité d'autres éléments...

            .spacer
            .content
                p ...ici une boîte postale...

            .spacer
            .content
                p ...là un arrêt de bus...

            .spacer
            .content
                p ...ou encore un arbre centenaire.

            .spacer
            .content
                p Ballade à Metz habille de musique vos déplacements dans la ville...

            .spacer
            .content
                p ...pour mettre en valeur son patrimoine...

            .spacer
            .content
                p ...et faire redécouvrir le plaisir de s'y promener...

            .spacer
            .content
                p ...au gré d'une symphonie à chaque fois différente.

            .spacer
            .content
                p Ballade à Metz est le projet proposé par l'équide des 
                    a(href='http://nicepenguins.tumblr.com/', target='blank') Nice Penguins 
                    |(Anthony Guérin,
                    |Baptiste Lesquoy, 
                    a(href='http://quentin.bonnard.eu', target='blank') Quentin Bonnard
                    |,
                    |Jonhathan Lamont,
                    |Yvan Corsiglia)

            .spacer
            .content
                p à l'occasion du 
                    a(href='http://grandestnumerique.org/retour-hackathon.php' target='_blank') Hackathon GEN Lorraine

            .spacer
            .content
                p Il a remporté le Prix coup de cœur de Metz Métropole et la Mairie de Metz :)

            .spacer
            .content
                p Le concept de la Ballade à Metz peut se décliner dans plusieurs contextes.

            .spacer
            .content
                p L'application la plus évidente est dans le domaine du tourisme, pour découvrir de façon ludique et poétique la ville de Metz.

            .spacer
            .content
                p Le concept peut gagner un aspect social si l'on met en place un système permettant de créer et partager son propre habillage musical.

            .spacer
            .content
                p Aussi, puisque l'application est exclusivement sonore, elle serait une candidate à une déclinaison adaptée aux non-voyants et mal-voyants.

            .spacer
            .content
                p Enfin, la ballade peut évidemment habiller d'autres villes, d'autres lieux, ou d'autres événements.

            .spacer
            .content
                p La musique pourrait venir des différents moyens de transport en commun...

            .spacer
            .content
                p On pourrait entendre des citations ou des poêmes associés à des lieux précis... Et cætera.

            .spacer
            .content
                p Abonnez-vous à notre newsletter pour rester au courant&nbsp;!
                p &nbsp;

                form(action='https://docs.google.com/forms/d/1kVh7qiYzPOEwx-3m3Ub14tiN4H8NtFD5eCQPH4rpzCU/formResponse?embedded=true', method='POST', target='_blank', onsubmit='', role='form')
                    .form-group
                        p
                            label Nom
                        p
                            input(type='text', name='entry.1609953104', value='', aria-label='Nom', aria-required='true', required='')
                    .form-group
                        p
                            label Adresse email
                        p
                            input.from-control(type='email', name='entry.1423520718', value='', aria-label='Email', aria-required='true',required='')
                    .form-group
                        p
                            button.btn.btn-default(type='submit', name='submit', value='Envoyer') Envoyer

            .spacer
            .content
                p Photos:
                ul
                    li Le centre Pompidou Metz CC-BY Jean-Pierre Dalbéra
                    li Metz centre CC-BY-SA  Alexandre Prévot
                    li Opéra Théâtre de Metz Métropole CC-BY-SA  Alexandre Prévot
                    li Metz-05 CC-BY  Azzaddine Amjahed
                    li Saint Etienne à Metz CC-BY Georges De Valkeneer
                    li Metz CC-BY-SA  christophe demetz
                    li Hôtel des Postes CC-BY-SA  Alexandre Prévot
                    li METZ CC-BY-SA  christophe demetz
                p Musiques: Anthony Guérin et Yvan Corsiglia
                p Design: Quentin Bonnard

            .spacer

        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')
        script.
            $(document).ready(function() {
                $('.content:not(.keep),.spacer:not(.keep)').each(function(e){$(this).hide(0);});

                var backgrounds = document.getElementsByClassName('background');
                var bgCount = backgrounds.length;

                var audioWeight=1;
                var imageWeight=1;
                var toLoad = bgCount*(imageWeight+audioWeight);
                var loaded = 0;
                var progressBar = document.getElementById('progress');
                function updateProgressBar(increment) {
                    loaded += increment;
                    progressBar.style.width = (100*loaded/toLoad)+"%";
                    if (loaded >= toLoad) {
                        $(document).scroll(setEnvironment);
                        $('.content,.spacer').each(function(e){$(this).show();});
                        $('.remove').each(function(e){$(this).hide();});
                    }
                };



                for (var i = 0; i < bgCount; i++) {
                    audio = document.createElement('audio');
                    audio.src = backgrounds[i].getAttribute('data-audio');
                    audio.volume = 0;
                    audio.loop=true;
                    //audio.type="audio/mp3"
                    audio.play()

                    function audioLoaded() {
                        if (typeof this.alreadyLoaded === "undefined") {
                            this.alreadyLoaded = true;
                            updateProgressBar(audioWeight);
                        }
                    }
                    audio.addEventListener('canplaythrough', audioLoaded);
                    backgrounds[i].appendChild(audio);

                    img = document.createElement('img');
                    img.src = backgrounds[i].getAttribute('data-image');
                    
                    img.addEventListener('load', function () {updateProgressBar(imageWeight);});
                    img.style.display='none';
                    backgrounds[i].appendChild(img);
                };

                function setEnvironment() {
                    var maxScroll = document.body.scrollHeight-document.body.clientHeight;
                    var scrollRatio = document.body.scrollTop / maxScroll;
                    for (var i = 0; i < bgCount; i++) {
                        var x = scrollRatio*(bgCount-1);
                        var density = -1*(x-(i+1))*(x-(i-1));
                        density = Math.max(0,density);
                        density = Math.min(1,density);
                        backgrounds[i].style.opacity = density;
                        backgrounds[i].getElementsByTagName('audio')[0].volume = density;
                    }
                };
            });

